.ticket-details {
    .details-content {
        width: 70%;
        padding: 10px;
    }

    .sidebar {
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 20px;
        height: 500px;
    }

    .property-sidebar {}
}