.data-table {
    border: 1px solid gainsboro;
    border-collapse: collapse;
    thead {
        background-color: gainsboro;
        th {
            padding: 5px;
        }
    }
    tbody {
        tr {

            td,
            th {
                border: 1px solid gainsboro;
                border-left: none;
                border-right: none;
                padding: 5px;
                text-align: center;
                padding: 15px;
            }

        }
    }
}